body{
    background-color:#F1F8FE;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    text-align: center;
}
 a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 15px;
    display:inline-block;
}
a:hover{
        background-color: rgba(173, 233, 213, 0.37);
        color: black;
}
.fondo {
       background-color: #ccffff;
       
}

.escogido{
      background-color: rgba(128, 159, 159, 0.37);
      color:black;
      padding-top: 2em;
}
button1 {
    background-color: rgba(204, 230, 255, 0.856);
    color:black;
    padding: 16px 20px;
    margin: 10px 0%;
    border-color: rgba(204, 230, 255) solid;
    margin-bottom: 0%;
    padding: -1;
    cursor: pointer;
    float: right;
}
button{
    border-top: 1px solid #829fba;
    background: #617582;
    background: -webkit-gradient(linear, left top, left bottom, from(#cce6ff), to(#617582));
    background: -webkit-linear-gradient(top, #cce6ff, #617582);
    background: -moz-linear-gradient(top, #cce6ff, #617582);
    background: -ms-linear-gradient(top, #cce6ff, #617582);
    background: -o-linear-gradient(top, #cce6ff, #617582);
    padding: 10px 20px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #454045;
   float: right;

}
.cerrarSesionbutton{
    border-top: 1px solid #000c33;
    background: #000c33;
    background: -webkit-gradient(linear, left top, left bottom, from(#000c33), to(#000c33));
    background: -webkit-linear-gradient(top, #000c33, #000c33);
    background: -moz-linear-gradient(top, #000c33, #000c33);
    background: -ms-linear-gradient(top, #000c33, #000c33);
    background: -o-linear-gradient(top, #000c33, #000c33);
    padding: 10px 20px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: whitesmoke;
   float: right;

}
.verPerfil{
    border-top: 1px solid #829fba;
    background: #617582;
    background: -webkit-gradient(linear, left top, left bottom, from(#cce6ff), to(#617582));
    background: -webkit-linear-gradient(top, #cce6ff, #617582);
    background: -moz-linear-gradient(top, #cce6ff, #617582);
    background: -ms-linear-gradient(top, #cce6ff, #617582);
    background: -o-linear-gradient(top, #cce6ff, #617582);
    padding: 10px 20px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #454045;
   float: right;
   
   

}
.liNav{
    margin-right: 1.1em;
}

#divButton{
    color:black;
    margin: 0px 0%;
    border: none;
    cursor: pointer;
    float: right;
}


/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Add padding to containers */
.container {
    padding: 16px;
}
table{
    background-color:rgba(255, 204, 230, 0.582);
}

.formbuton{
display:inline-block;
}

.fondoRecordatorios{
     background-color:#99ddff;
}
.aRecordatorios {
     text-decoration: none;
     width: 33%;
     color: black;
     font-size: 15px;
     text-align: center;
     padding: 10px;
     display:inline-block;
}

.escogidoRecordatorios{
      background-color: #ccefff;
      color:black;
}

.atras {
   border: 0px solid #0a3c59;
   background: #c27a84;
   background: -webkit-gradient(linear, left top, left bottom, from(#f7b4bc), to(#c27a84));
   background: -webkit-linear-gradient(top, #f7b4bc, #c27a84);
   background: -moz-linear-gradient(top, #f7b4bc, #c27a84);
   background: -ms-linear-gradient(top, #f7b4bc, #c27a84);
   background: -o-linear-gradient(top, #f7b4bc, #c27a84);
   background-image: -ms-linear-gradient(top, #f7b4bc 0%, #c27a84 100%);
   padding: 3.5px 7px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #bd7f7f 0 1px 0;
   color: #7d414e;
   font-size: 17px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;

   }
.atras:hover {
   border: 0px solid #401818;
   text-shadow: #571e1e 0 1px 0;
   background: #eb7f8c;
   background: -webkit-gradient(linear, left top, left bottom, from(#b07980), to(#eb7f8c));
   background: -webkit-linear-gradient(top, #b07980, #eb7f8c);
   background: -moz-linear-gradient(top, #b07980, #eb7f8c);
   background: -ms-linear-gradient(top, #b07980, #eb7f8c);
   background: -o-linear-gradient(top, #b07980, #eb7f8c);
   background-image: -ms-linear-gradient(top, #b07980 0%, #eb7f8c 100%);
   color: #545454;
   }
.atras:active {
   text-shadow: #1e4158 0 1px 0;
   border: 0px solid #40181c;
   background: #b07980;
   background: -webkit-gradient(linear, left top, left bottom, from(#b07980), to(#eb7f8c));
   background: -webkit-linear-gradient(top, #b07980, #b07980);
   background: -moz-linear-gradient(top, #b07980, #b07980);
   background: -ms-linear-gradient(top, #b07980, #b07980);
   background: -o-linear-gradient(top, #b07980, #b07980);
   background-image: -ms-linear-gradient(top, #b07980 0%, #b07980 100%);
   color: #000000;
   }

   .registerbutton {
      border: none;
      background: #ccffff;
      background: -webkit-gradient(linear, left top, left bottom, from(#ccffff), to(#ccffff));
      background: -webkit-linear-gradient(top, #ccffff, #ccffff);
      background: -moz-linear-gradient(top, #ccffff, #ccffff);
      background: -ms-linear-gradient(top, #ccffff, #ccffff);
      background: -o-linear-gradient(top, #ccffff, #ccffff);
     padding: 7.5px 15px;
     margin-bottom: -1.5em;
     margin-left: -0.225em;
     margin-right: -0.3em;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      -webkit-box-shadow: rgba(0,0,0,1) 0 0px 0;
      -moz-box-shadow: rgba(0,0,0,1) 0 0px 0;
      text-shadow: rgba(0,0,0,.4) 0 0px 0;
      color: #000000;
      font-size: 14px;
      font-family: Georgia, serif;
      text-decoration: none;
      vertical-align: middle;
      }
.abuton{
           padding: 7.5px 15px;
           margin-bottom: -1.5em;
           margin-left: -0.225em;
           margin-right: -0.3em;
}
   .registerbutton:hover {
      border-top-color: #ccffff;
      background: #ccffff;
      color: #000000;

      }
   .registerbutton:active {
      border-top-color: #ccffff;
      background: #ccffff;
      }