body{
    background-color: #F1F8FE ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.formato{
    border: 2em;
    background-color: rgba(173, 233, 213, 0.37);
    width: 40em;
    height: 30%;
    display: block;
    margin-left:25%;
    margin-right:25%;
    padding-left: 12em;
    padding-right: 1.5em;
    margin-top: 5%;
    margin-bottom: 5%;
    float:center;
}

h1{
    text-align: center;
}
.fondo {
       background-color:rgb(179, 229, 252);

}

.escogido{
      background-color: rgba(128, 159, 159, 0.37);
      color:black;
}
div{
display: inline-block;
}
button1 {
    background-color: rgba(204, 230, 255, 0.856);
    color:black;
    padding: 16px 20px;
    margin: 10px 0%;
    border-color: rgba(204, 230, 255) solid;
    margin-bottom: 0%;
    padding: -1;
    cursor: pointer;
    float: center;
    display:block;
    margin-top: 10px;
    margin-left: 20px;

}
button{
    border-top: 1px solid #829fba;
    background: #617582;
    background: -webkit-gradient(linear, left top, left bottom, from(#cce6ff), to(#617582));
    background: -webkit-linear-gradient(top, #cce6ff, #617582);
    background: -moz-linear-gradient(top, #cce6ff, #617582);
    background: -ms-linear-gradient(top, #cce6ff, #617582);
    background: -o-linear-gradient(top, #cce6ff, #617582);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #454045;
}
#divButton{
    color:black;
    margin: 0px 0%;
    border: none;
    cursor: pointer;
    float: right;
}


/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Add padding to containers */
.container {
    padding: 16px;
}
table{
    background-color:rgba(255, 204, 230, 0.582);
}

.formbuton{
display:inline-block;

}
a{
    margin-top: 5%;
}
.atras {
   border: 0px solid #0a3c59;
   background: #c27a84;
   background: -webkit-gradient(linear, left top, left bottom, from(#f7b4bc), to(#c27a84));
   background: -webkit-linear-gradient(top, #f7b4bc, #c27a84);
   background: -moz-linear-gradient(top, #f7b4bc, #c27a84);
   background: -ms-linear-gradient(top, #f7b4bc, #c27a84);
   background: -o-linear-gradient(top, #f7b4bc, #c27a84);
   background-image: -ms-linear-gradient(top, #f7b4bc 0%, #c27a84 100%);
   padding: 3.5px 7px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #bd7f7f 0 1px 0;
   color: #7d414e;
   font-size: 17px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;

   }
.atras:hover {
   border: 0px solid #401818;
   text-shadow: #571e1e 0 1px 0;
   background: #eb7f8c;
   background: -webkit-gradient(linear, left top, left bottom, from(#b07980), to(#eb7f8c));
   background: -webkit-linear-gradient(top, #b07980, #eb7f8c);
   background: -moz-linear-gradient(top, #b07980, #eb7f8c);
   background: -ms-linear-gradient(top, #b07980, #eb7f8c);
   background: -o-linear-gradient(top, #b07980, #eb7f8c);
   background-image: -ms-linear-gradient(top, #b07980 0%, #eb7f8c 100%);
   color: #545454;
   }
.atras:active {
   text-shadow: #1e4158 0 1px 0;
   border: 0px solid #40181c;
   background: #b07980;
   background: -webkit-gradient(linear, left top, left bottom, from(#b07980), to(#eb7f8c));
   background: -webkit-linear-gradient(top, #b07980, #b07980);
   background: -moz-linear-gradient(top, #b07980, #b07980);
   background: -ms-linear-gradient(top, #b07980, #b07980);
   background: -o-linear-gradient(top, #b07980, #b07980);
   background-image: -ms-linear-gradient(top, #b07980 0%, #b07980 100%);
   color: #000000;
   }

