body{
    background-color: #F1F8FE ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.formato{
    border: 2em;
    background-color: rgba(173, 233, 213, 0.37);
    width: 40em;
    height: 30%;
    display: inline-block;
    margin-left:10%;
    margin-top: 5%;
    padding-left: 2em;
    padding-right: 1.5em;
}