<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../static/css/registerForm.css" th:href="@{/css/registerForm.css}"  />
    <title>Nuevo Perfil</title>
    <script th:inline="javascript">
    $( document ).ready(function() {
        setInterval(function(){
                var d = new Date();
                var hour = d.getHours();
                var min = d.getMinutes();
                var dd = d.getDate();
                var mm = d.getMonth()+1;
                var yyyy = d.getFullYear();

                if(10 > dd){ dd = '0' +  dd; }
                if(10 > mm){ mm = '0' + mm; }
                if(10 > hour){ hour = '0' + hour; }
                if(10 > min){ min = '0' + min; }

                var time = hour + ':' + min;
                d =  yyyy + '-' + mm + '-' + dd;

                /*<![CDATA[*/
                    console.log('Hora y fecha actual: ' + time + ' ' + d);
                    var list = /*[[${listaRecordatoriosCitas}]]*/ 'listaRecordatoriosCitas';
                    var listMotivo = /*[[${listaRecordatoriosCitasMotivo}]]*/ 'listaRecordatoriosCitasMotivo';
                    for(var i=0; i<list.length; i++){
                        console.log(list[i]);
                        console.log(listMotivo[i]);
                        if((time + ' ' + d) == list[i]){
                            window.alert(listMotivo[i]);
                        }
                    }
               /*]]>*/
        }, 60000);
    });
    </script>
</head>
<body>
<div class="formDiagnostico">
<h1>Nuevo Perfil</h1>
    <form autocomplete="off" method="post" th:action="@{/guardarPerfil}" th:object="${perfil}">
        <p> Nombre completo: </p>
        <input class="form-control my-0 py-1" th:field="*{name}" pattern="^[\S+].{0,29}"
               oninvalid="setCustomValidity('Nombre completo es campo requerido,no puede comenzar por espacio, solo 30 caracteres.')"
               oninput="setCustomValidity('')"
               required="required"/>
        <p> Edad: </p>
        <input class="form-control my-0 py-1" th:field="*{edad}" pattern="[0-9].{0,2}"
               oninvalid="setCustomValidity('Edad es campo requerido, solo numeros y 3 digitos como maximo.')"
               oninput="setCustomValidity('')"
               required="required"/>
        <p> Peso(kg): </p>
        <input class="form-control my-0 py-1" th:field="*{peso}" pattern="[0-9].{0,2}"
               oninvalid="setCustomValidity('Peso es campo requerido, solo numeros y 3 digitos como maximo.')"
               oninput="setCustomValidity('')"
               required="required"/>
        <p> Altura(cm): </p>
        <input class="form-control my-0 py-1" th:field="*{altura}" pattern="[0-9].{0,2}"
               oninvalid="setCustomValidity('Altura es campo requerido,solo numeros y 3 digitos como maximo.')"
               oninput="setCustomValidity('')"
               required="required"/>
        <p> Fecha de nacimiento: </p>
        <input class="form-control my-0 py-1" name="fechaDeNacimiento" id="fechaDeNacimiento" type="date"
               oninvalid="setCustomValidity('Fecha es campo requerido.')"
               oninput="setCustomValidity('')"
               required="required"/>
        <p> Sexo: </p>
        <select class="form-control" th:field="*{sexo}">
            <option selected="selected" value="M">Masculino</option>
            <option value="F">Femenino</option>
        </select>
        <p> Grupo sanguineo: </p>
        <select class="form-control" th:field="*{grupoSanguineo}">
            <option selected="selected" value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
        </select>
        <br/>
        <input class="btn btn-primary" type="submit" value="Guardar" />
    </form>
    <br />
    <input class="atras" type="button" onclick="history.back()" name="volver atrás" value="volver atrás"/>
</div>
</body>
</html>