<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Modificar Analisis</title>
    <link rel="stylesheet" href="../static/css/registerForm.css" th:href="@{/css/registerForm.css}" />
    <script th:inline="javascript">
    $( document ).ready(function() {
        setInterval(function(){
                var d = new Date();
                var hour = d.getHours();
                var min = d.getMinutes();
                var dd = d.getDate();
                var mm = d.getMonth()+1;
                var yyyy = d.getFullYear();

                if(10 > dd){ dd = '0' +  dd; }
                if(10 > mm){ mm = '0' + mm; }
                if(10 > hour){ hour = '0' + hour; }
                if(10 > min){ min = '0' + min; }

                var time = hour + ':' + min;
                d =  yyyy + '-' + mm + '-' + dd;

                /*<![CDATA[*/
                    console.log('Hora y fecha actual: ' + time + ' ' + d);
                    var list = /*[[${listaRecordatoriosCitas}]]*/ 'listaRecordatoriosCitas';
                    var listMotivo = /*[[${listaRecordatoriosCitasMotivo}]]*/ 'listaRecordatoriosCitasMotivo';
                    for(var i=0; i<list.length; i++){
                        console.log(list[i]);
                        console.log(listMotivo[i]);
                        if((time + ' ' + d) == list[i]){
                            window.alert(listMotivo[i]);
                        }
                    }
               /*]]>*/
        }, 60000);
    });
    </script>
</head>
<body>
<div class="formDiagnostico">
<h1>Modificar Analisis</h1>
    <form autocomplete="off" method="post" th:action="@{/guardarAnalisis}" enctype="multipart/form-data" th:object="${analisis}" role="form">
        <input type="hidden" name="id" th:field="*{id}" th:value="${analisis.id}" />
        <input type="hidden" name="perfilId" id="perfilId" th:value="${perfilId}" />
        <p> Titulo: </p>
        <input class="form-control my-0 py-1" type="text" th:field="*{titulo}" th:value="${analisis.titulo}" pattern="^[\S+].{0,29}"
               oninvalid="setCustomValidity('Titulo es campo requerido,no puede comenzar por espacio, solo 30 caracteres.')"
               oninput="setCustomValidity('')"
               required="required"/>
        <p>Tipo de analisis:</p>
        <input class="form-control my-0 py-1" th:field="*{tipoDeAnalisis}" th:value="${analisis.tipoDeAnalisis}" id="tipoDeAnalisis" cols="30" rows="10" pattern="^[\S+].{0,29}"
                  oninvalid="setCustomValidity('Tipo de analisis es campo requerido,no puede comenzar por espacio, solo 30 caracteres.')"
                  oninput="setCustomValidity('')"
                  required="required"/>
        <div th:if="${existenFotos}">
            <p>Imagenes:</p>
            <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 500px; height: 350px;">
                <div class="carousel-inner">
                    <div class="item active">
                        <img th:src="@{'data:image/jpg;base64,' + ${firstFoto} }" style="width: 500px; height: 350px;"/>
                    </div>
                    <div class="item" th:each="foto: ${fotos}">
                        <img th:src="@{'data:image/jpg;base64,' + ${foto} }" style="width: 500px; height: 350px;"/>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <p> Agregar nuevas imagenes: </p>
        <input name="file" type="file" multiple="multiple"/>
        <p> Observaciones: </p>
        <textarea class="form-control my-0 py-1" type="text" th:field="*{observaciones}" th:text="${analisis.observaciones}" maxlength="255"></textarea>
        <p>Fecha: </p>
        <input class="form-control my-0 py-1" type="date" th:field="*{fecha}" th:value="${analisis.fecha}" oninvalid="setCustomValidity('Fecha es campo requerido.')"
               oninput="setCustomValidity('')"
               required="required"/>
        <br />
        <input class="btn btn-primary" type="submit" value="Guardar" />
    </form>
    <form th:if="${existenFotos}" class="formbuton" th:action="${'/eliminarImagenes/' + analisis.id}" method="get" >
        <input type="hidden" th:value="${analisis.tipo}" id="tipo" name="tipo"/>
        <button class="btn btn-danger" type="Submit">Eliminar imagenes</button>
    </form>
    <br />
    <input class="atras" type="button" onclick="history.back()" name="volver atrás" value="volver atrás"/>
</div>
</body>
</html>