<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrate</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../static/css/logginPage.css" th:href="@{/css/logginPage.css}" />
    <title>Registro</title>
</head>
<body>
    <h1>Bienvenido a la plataforma</h1>
    <div class="formato">
        <div>
            <h2><strong>Crear usuario</strong></h2>
        </div>
        <form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" method="post" class="form-horizontal" role="form">
            <input class="form-control my-0 py-1" style="width: 200px;" type="text" th:field="*{username}" placeholder="Nombre de usuario" required="required"/> <label
                th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                class="validation-message"></label><br />
            <input class="form-control my-0 py-1" style="width: 200px;" type="password" th:field="*{password}"
                   placeholder="Contraseña" required="required"/> <label
                th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                class="validation-message"></label><br />
            <input class="form-control my-0 py-1" style="width: 200px;" type="password" th:field="*{passwordConfirm}"
                   placeholder="Confirmar contraseña" required="required"/> <label
                th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"
                class="validation-message"></label><br />
            <button class="btn btn-primary" type="submit">Registrar usuario</button>
            <span th:utext="${successMessage}"></span>
        </form>
    </div>
    <br />
    <input class="atras" type="button" onclick="history.back()" name="volver atrás" value="volver atrás"/>
</body>
</html>