<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../static/css/registerForm.css" th:href="@{/css/registerForm.css}"  />
    <title>Perfil</title>
    <script th:inline="javascript">
    $( document ).ready(function() {
        setInterval(function(){
                var d = new Date();
                var hour = d.getHours();
                var min = d.getMinutes();
                var dd = d.getDate();
                var mm = d.getMonth()+1;
                var yyyy = d.getFullYear();

                if(10 > dd){ dd = '0' +  dd; }
                if(10 > mm){ mm = '0' + mm; }
                if(10 > hour){ hour = '0' + hour; }
                if(10 > min){ min = '0' + min; }

                var time = hour + ':' + min;
                d =  yyyy + '-' + mm + '-' + dd;

                /*<![CDATA[*/
                    console.log('Hora y fecha actual: ' + time + ' ' + d);
                    var list = /*[[${listaRecordatoriosCitas}]]*/ 'listaRecordatoriosCitas';
                    var listMotivo = /*[[${listaRecordatoriosCitasMotivo}]]*/ 'listaRecordatoriosCitasMotivo';
                    for(var i=0; i<list.length; i++){
                        console.log(list[i]);
                        console.log(listMotivo[i]);
                        if((time + ' ' + d) == list[i]){
                            window.alert(listMotivo[i]);
                        }
                    }
               /*]]>*/
        }, 60000);
    });
    </script>
</head>
<body>
    <div class="formDiagnostico">
        <h1>Perfil</h1>
            <p> Nombre: <span th:text="${perfil.name}"></span></p>
            <p> Edad: <span th:text="${perfil.edad}"></span></p>
            <p> Peso: <span th:text="${perfil.peso}"></span></p>
            <p> Altura: <span th:text="${perfil.altura}"></span></p>
            <p> Fecha de nacimiento: <span th:text="${perfil.fechaDeNacimiento}"></span></p>
            <p> Sexo: <span th:text="${perfil.sexo}"></span></p>
            <p> Grupo sanguineo: <span th:text="${perfil.grupoSanguineo}"></span></p>
    </div>
    <br />
    <input class="atras" type="button" onclick="history.back()" name="volver atrás" value="volver atrás"/>
</body>
</html>