<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../static/css/registerForm.css" th:href="@{/css/registerForm.css}" />
    <title>Ver Recordatorio</title>
    <script th:inline="javascript">
    $( document ).ready(function() {
        setInterval(function(){
                var d = new Date();
                var hour = d.getHours();
                var min = d.getMinutes();
                var dd = d.getDate();
                var mm = d.getMonth()+1;
                var yyyy = d.getFullYear();

                if(10 > dd){ dd = '0' +  dd; }
                if(10 > mm){ mm = '0' + mm; }
                if(10 > hour){ hour = '0' + hour; }
                if(10 > min){ min = '0' + min; }

                var time = hour + ':' + min;
                d =  yyyy + '-' + mm + '-' + dd;

                /*<![CDATA[*/
                    console.log('Hora y fecha actual: ' + time + ' ' + d);
                    var list = /*[[${listaRecordatoriosCitas}]]*/ 'listaRecordatoriosCitas';
                    var listMotivo = /*[[${listaRecordatoriosCitasMotivo}]]*/ 'listaRecordatoriosCitasMotivo';
                    for(var i=0; i<list.length; i++){
                        console.log(list[i]);
                        console.log(listMotivo[i]);
                        if((time + ' ' + d) == list[i]){
                            window.alert(listMotivo[i]);
                        }
                    }
               /*]]>*/
        }, 60000);
    });
    </script>
</head>
<body>
<div class="container">
    <div class="formato">
        <h1>Detalles del recordatorio</h1>

        <b> Motivo: </b> <p  th:text="${recordatorio.motivo}"></p>
        <b> Doctor: </b> <p  th:text="${recordatorio.doctor}"></p>
        <b> Fecha :</b>  <p  th:text="${recordatorio.fecha}"> </p>
        <b> Hora:</b> <p th:text="${recordatorio.hora}"></p>
        <b> Observaciones: </b> <p  th:text="${recordatorio.observaciones}"> </p>

    </div>

    <input class="atras" type="button" onclick="history.back()" name="volver atrás" value="volver atrás"/>
</div>


</body>
</html>